<%- include("partials/header") %>

<h1>This is the home page!</h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBRGDoHpH-M5kj7zPyjPiXCDrK4UQ_PhilF6g4XfXm0QRHOm6L&s">

<%- include("partials/footer") %>