body {
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p {
    text-transform: uppercase;
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    padding-bottom: 20px;
}

img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

